# Analysis Notebook
* Name: Kalie Knecht
* SID: 3035325996
* Email: kalie@berkeley.edu

## Setup

In [1]:
import numpy as np
import pandas as pd
from zipfile import ZipFile

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set(style = "whitegrid", 
        color_codes = True,
        font_scale = 1.5)
import reverse_geocoder as rg

### Load and View Data

In [2]:
# extract csvs from zip file
zipObj=ZipFile('../data/Dataset_A.zip', 'r')
zipObj.extractall(path='../data/')

In [3]:
# read in csv
daily_global_weather = pd.read_csv('../data/Dataset A/daily_global_weather_2020.csv')
us_air_quality = pd.read_csv('../data/Dataset A/us_air_quality_measures.csv')
greenhouse_gas_type = pd.read_csv('../data/Dataset A/us_greenhouse_gas_emission_direct_emitter_gas_type.csv')
greenhouse_gas_facility = pd.read_csv('../data/Dataset A/us_greenhouse_gas_emissions_direct_emitter_facilities.csv')

/Users/kalie/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
daily_global_weather.head(5)

,Unnamed: 0,Station,Date,TAVG,Latitude,Longitude,Elevation,PRCP
0,0,AE000041196,2020-01-01,211.0,25.333,55.5170,34.0,0.0
1,1,AEM00041194,2020-01-01,217.0,25.255,55.3640,10.4,0.0
2,2,AFM00040938,2020-01-01,54.0,34.210,62.2280,977.2,23.0
3,3,AG000060611,2020-01-01,71.0,28.050,9.6331,561.0,10.0
4,4,AGE00147708,2020-01-01,99.0,36.720,4.0500,222.0,0.0

In [5]:
us_air_quality.head(5)

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
0,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1027,Clay,1999,33.0,No Units,No Units,Monitor Only,1
1,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1051,Elmore,1999,5.0,No Units,No Units,Monitor Only,1
2,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1073,Jefferson,1999,39.0,No Units,No Units,Monitor Only,1
3,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1079,Lawrence,1999,28.0,No Units,No Units,Monitor Only,1
4,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1089,Madison,1999,31.0,No Units,No Units,Monitor Only,1

In [6]:
greenhouse_gas_type.head(5)

,V_GHG_EMITTER_GAS.ADDRESS1,V_GHG_EMITTER_GAS.ADDRESS2,V_GHG_EMITTER_GAS.CITY,V_GHG_EMITTER_GAS.CO2E_EMISSION,V_GHG_EMITTER_GAS.COUNTY,V_GHG_EMITTER_GAS.FACILITY_ID,V_GHG_EMITTER_GAS.GAS_CODE,V_GHG_EMITTER_GAS.GAS_NAME,V_GHG_EMITTER_GAS.LATITUDE,V_GHG_EMITTER_GAS.LONGITUDE,V_GHG_EMITTER_GAS.STATE,V_GHG_EMITTER_GAS.STATE_NAME,V_GHG_EMITTER_GAS.YEAR,V_GHG_EMITTER_GAS.ZIP,V_GHG_EMITTER_GAS.FACILITY_NAME,V_GHG_EMITTER_GAS.COUNTY_FIPS
0,1919 S. BROADWAY,NaN,GREEN BAY,58024.000,BROWN COUNTY,1000589,BIOCO2,Biogenic CO2,44.492500,-88.032300,WI,WISCONSIN,2017,54304,GEORGIA-PACIFIC CONSUMER OPERATIONS LLC,55009.0
1,850 12TH AVE,NaN,NEW YORK,134.500,New York,1000766,CH4,Methane,40.771100,-73.991100,NY,NEW YORK,2018,10019,59th Street,36061.0
2,3379 HWY 482,NaN,Noble,6.854,SABINE,1009343,N2O,Nitrous Oxide,31.621528,-93.724774,LA,LOUISIANA,2012,71462,Baker Road Treater,22085.0
3,1012 BEAUCHAMP ST,NaN,GREENVILLE,53562.000,WASHINGTON COUNTY,1003557,CH4,Methane,33.392476,-91.017584,MS,MISSISSIPPI,2017,38701,TEXAS GAS TRANSMISSION - GREENVILLE STATION,28151.0
4,487 CORN CREEK ROAD,NaN,BEDFORD,7635064.700,Trimble,1006542,CO2,Carbon Dioxide,38.584700,-85.411700,KY,KENTUCKY,2018,40006,Trimble County,21223.0

In [7]:
greenhouse_gas_facility.head(5)

,V_GHG_EMITTER_FACILITIES.ADDRESS1,V_GHG_EMITTER_FACILITIES.ADDRESS2,V_GHG_EMITTER_FACILITIES.CEMS_USED,V_GHG_EMITTER_FACILITIES.CITY,V_GHG_EMITTER_FACILITIES.COUNTY,V_GHG_EMITTER_FACILITIES.COUNTY_FIPS,V_GHG_EMITTER_FACILITIES.FACILITY_ID,V_GHG_EMITTER_FACILITIES.LATITUDE,V_GHG_EMITTER_FACILITIES.LONGITUDE,V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE,...,V_GHG_EMITTER_FACILITIES.STATE_NAME,V_GHG_EMITTER_FACILITIES.YEAR,V_GHG_EMITTER_FACILITIES.ZIP,V_GHG_EMITTER_FACILITIES.FACILITY_NAME,V_GHG_EMITTER_FACILITIES.SECONDARY_NAICS_CODE,V_GHG_EMITTER_FACILITIES.ADDITIONAL_NAICS_CODES,V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND,V_GHG_EMITTER_FACILITIES.EPA_VERIFIED,V_GHG_EMITTER_FACILITIES.PARENT_COMPANY,V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR
0,301 Commerce Dr. Suite 3701,NaN,NaN,Fort Worth,NaN,NaN,1008536.0,35.533760,-97.529760,211111.0,...,TEXAS,2012.0,76102.0,TEP Barnett USA LLC 415 - Strawn Basin,NaN,NaN,N,NaN,CHESAPEAKE ENERGY CORP (100%),NaN
1,449 Shell E&P Court,NaN,NaN,Gibson,TERREBONNE,22109.0,1005071.0,29.628790,-90.917680,211112.0,...,LOUISIANA,2011.0,70358.0,North Terrebonne Gas Plant,NaN,NaN,N,NaN,ENTERPRISE GAS PROCESSING LLC (64.19%); DCP M...,NaN
2,5494 MALONE ROAD,NaN,NaN,MEMPHIS,SHELBY COUNTY,47157.0,1002466.0,34.999213,-89.906724,562212.0,...,TENNESSEE,2017.0,38116.0,SOUTH SHELBY LANDFILL,NaN,NaN,N,NaN,REPUBLIC SERVICES INC (100%),N
3,1601 WEEDON ISLAND DRIVE,NaN,NaN,SAINT PETERSBURG,Pinellas,12103.0,1001489.0,27.861300,-82.601200,221112.0,...,FLORIDA,2015.0,33702.0,P L Bartow Power Plant,NaN,NaN,N,NaN,DUKE ENERGY CORP (100%),Y
4,NaN,NaN,NaN,Rhome,WISE COUNTY,48497.0,1007509.0,33.052600,-97.411400,211112.0,...,TEXAS,2015.0,76078.0,Ross Compressor Station,NaN,NaN,N,NaN,SWG PIPELINE LLC (100%),Y

## Data Sampling and Collection
### How were the data collected?

* The `daily_global_weather` dataframe is measured by weather stations in the Global Historical Climatology Network (GHCN) for January to October 2020. According to the GHCN webiste: "GHCN is an integrated database of climate summaries from land surface stations across the globe that have been subjected to a common suite of quality assurance reviews. The data are obtained from more than 20 sources. Some data are more than 175 years old while others are less than an hour old. GHCN is the official archived dataset, and it serves as a replacement product for older NCEI-maintained datasets that are designated for daily temporal resolution (i.e., DSI 3200, DSI 3201, DSI 3202, DSI 3205, DSI 3206, DSI 3208, DSI 3210, etc.)." The raw data has been altered to include only the average temperature and precipitation measurments from stations that have both measurements. 

* The `greenhouse_gas_type` and `greenhouse_gas_facility` dataframes are reported by the Environmental Protection Agency (EPA) through their Greenhouse Gas Reporting system. This data is reported from large GHG emissions sources, fuel, and industrial gas suppliers, and CO2 injection sites in the United States. Only sources that in general emit 25,000 meric tons or more of CO2 equivalent have to report their data, so anything less than this is not included.
* The `us_air_quality` dataframe is reported by the EPA's Air Quality System (AQS) that measures air quality on a county level from approximately 4000 monitoring stations around the country.


### Was there any potential bias introduced in the sampling process?
* The `daily_global_weather` has 8,514,264 entries, but appears to not have daily entries for each station. The number of entries by station varies from 1 to 296, out of 365.25 days in the year. Additionally, some countries are represented better than others. Out of the 4970 stations we are using data from, the US has 1070 stations, Canada has 890 stations, and Russia has 609 stations. This means that over half of the data is generated from stations in just three countries. The countries after these three with the most monitoring stations are China, with 216 monitoring stations, and Japan, with 142 monitoring stations. Therea are also only stations in 180 countries, when there are 195 countries in the world. This means that there are 15 countries which are not represented at all by the dataset. There are 40 countries which only have 1 station, and 56 countries which have 2 or less monitoring stations. This overrepresentation of some countries relative to others could be a source of bias.
* The `greenhouse_gas_type` and `greenhouse_gas_facility` dataframes only include sources with a large amount of emissions, as discussed above. This means smaller businesses or even those just below the threshold which are emitting a lot are not including. We do not have the total emissions in the United States from this data.

In [8]:
greenhouse_gas_type.groupby('V_GHG_EMITTER_GAS.GAS_CODE').get_group('Other_Full').head(5)

,V_GHG_EMITTER_GAS.ADDRESS1,V_GHG_EMITTER_GAS.ADDRESS2,V_GHG_EMITTER_GAS.CITY,V_GHG_EMITTER_GAS.CO2E_EMISSION,V_GHG_EMITTER_GAS.COUNTY,V_GHG_EMITTER_GAS.FACILITY_ID,V_GHG_EMITTER_GAS.GAS_CODE,V_GHG_EMITTER_GAS.GAS_NAME,V_GHG_EMITTER_GAS.LATITUDE,V_GHG_EMITTER_GAS.LONGITUDE,V_GHG_EMITTER_GAS.STATE,V_GHG_EMITTER_GAS.STATE_NAME,V_GHG_EMITTER_GAS.YEAR,V_GHG_EMITTER_GAS.ZIP,V_GHG_EMITTER_GAS.FACILITY_NAME,V_GHG_EMITTER_GAS.COUNTY_FIPS
25,8000 SOUTH FEDERAL WAY,NaN,BOISE,13376.5000,ADA COUNTY,1004325,Other_Full,Other Fully Fluorinated GHGs,43.52680,-116.14490,ID,IDAHO,2017,83707,MICRON TECHNOLOGY INC.,16001.0
405,4321 Jamboree Road,NaN,Newport Beach,3210.0000,ORANGE COUNTY,1010139,Other_Full,Other Fully Fluorinated GHGs,33.66196,-117.85845,CA,CALIFORNIA,2016,92660,Newport Fab LLC (dba TowerJazz),6059.0
781,6501 W. William Cannon Dr.,NaN,Austin,1600.0000,TRAVIS COUNTY,1010067,Other_Full,Other Fully Fluorinated GHGs,30.23680,-97.86504,TX,TEXAS,2019,78735,NXP Semiconductors - OH site,48453.0
846,5 Foden Road,NaN,South Portland,8521.0000,CUMBERLAND COUNTY,1010208,Other_Full,Other Fully Fluorinated GHGs,43.64075,-70.32198,ME,MAINE,2017,4106,Texas Instruments Incorporated - Maine Fab,23005.0
1921,1300 N. Alma School Rd.,NaN,Chandler,3.3194,MARICOPA COUNTY,1010083,Other_Full,Other Fully Fluorinated GHGs,33.32412,-111.85919,AZ,ARIZONA,2012,85224,NXP Semiconductors Chandler Site,4013.0

### Info on raw (uncleaned) data:
The `daily_global_weather` dataframe has the granularity of individual dates for each facility. The columns of the `daily_global_weather` dataframe include:
* `Unamed: 0`: index column (removed in data cleaning)
* `Station`: station ID which appears to have some country code ahead of it
* `Date`: Date of weather data (change to datetime?)
* `TAVG`: Averate temperature in 10s of Celsius
* `Latitude`: latitude of station
* `Longitude`: longitude of station
* `Elevation`: elevation of station
* `PRCP`: precipitation at station on date of data collection

The `greenhouse_gas_type` dataframe has a granularity of individual gases recorded by year for individual facilities that are monitored by the EPA. The columns of `greenhouse_gas_type` include:
* `V_GHG_EMITTER_GAS.ADDRESS1`: address line 1 of emitter facility
* `V_GHG_EMITTER_GAS.ADDRESS2`: address line 2 of emitter facility (sometimes NaN)
* `V_GHG_EMITTER_GAS.CITY`: city of emitter facility
* `V_GHG_EMITTER_GAS.CO2E_EMISSION`: CO2 Equivalent emission of gas (e.g., if the gas is CO2, it lists the amount of CO2, but if it is another gas it lists its CO2 equivalent emission
* `V_GHG_EMITTER_GAS.COUNTY`: county of emitter facility
* `V_GHG_EMITTER_GAS.FACILITY_ID`: facility identification number in the EPA database which identifies facilities, sites, or places subject to environmental regulations or of environmental interest across various EPA programs. 
* `V_GHG_EMITTER_GAS.GAS_CODE`: gas code in row - could be CH4, CO2, N2O, BIOCO2, SF6, HFC, PFC, Other_Full, NF3, Very_Short, HFE, or Other (should match GAS_NAME). Unclear what gas "Other" is
* `V_GHG_EMITTER_GAS.GAS_NAME`: the full name of the gas in the dataframe record (should match GAS_CODE)
* `V_GHG_EMITTER_GAS.LATITUDE`: latitude of emitter facility
* `V_GHG_EMITTER_GAS.LONGITUDE`: longitude of emitter facility
* `V_GHG_EMITTER_GAS.STATE`: state of emitter facility
* `V_GHG_EMITTER_GAS.STATE_NAME`: state of emitter facility
* `V_GHG_EMITTER_GAS.YEAR`: year of emissions data
* `V_GHG_EMITTER_GAS.ZIP`: zip code of emitter facility
* `V_GHG_EMITTER_GAS.FACILITY_NAME`: facility name
* `V_GHG_EMITTER_GAS.COUNTY_FIPS`: ID code for county - should be consistent with county

The columns of `greenhouse_gas_facility` include:
* `V_GHG_EMITTER_FACILITIES.ADDRESS1`: address line 1 of emitter facility
* `V_GHG_EMITTER_FACILITIES.ADDRESS2`: address line 2 of emitter facility (several NaN values)
* `V_GHG_EMITTER_FACILITIES.CEMS_USED`:  (several NaN values)
* `V_GHG_EMITTER_FACILITIES.CITY`: city of emitter facility
* `V_GHG_EMITTER_FACILITIES.COUNTY` county of emitter facility
* `V_GHG_EMITTER_FACILITIES.COUNTY_FIPS`: county code - should be consistent with county
* `V_GHG_EMITTER_FACILITIES.FACILITY_ID`: facility identification number in the EPA database which identifies facilities, sites, or places subject to environmental regulations or of environmental interest across various EPA programs.
* `V_GHG_EMITTER_FACILITIES.LATITUDE`: latitude of emitter facility
* `V_GHG_EMITTER_FACILITIES.LONGITUDE`: longitude of emitter facility
* `V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE`: some identification code ? (some across at least one facility checked)
* `V_GHG_EMITTER_FACILITIES.STATE`: 2 letter state code of emitter facility (should match STATE_NAME)
* `V_GHG_EMITTER_FACILITIES.STATE_NAME`: state of emitter facility (should match STATE)
* `V_GHG_EMITTER_FACILITIES.YEAR`: year of data entry (granularity of data is by year)
* `V_GHG_EMITTER_FACILITIES.ZIP`: zip code of emitter facility (in floating point format)
* `V_GHG_EMITTER_FACILITIES.FACILITY_NAME`: facility name
* `V_GHG_EMITTER_FACILITIES.SECONDARY_NAICS_CODE`: some ID code (several NaN values)
* `V_GHG_EMITTER_FACILITIES.ADDITIONAL_NAICS_CODES`: some ID code (several NaN values)
* `V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND`: Y or N (chould change to boolean)
* `V_GHG_EMITTER_FACILITIES.EPA_VERIFIED`: Y or ? (several NaN values)
* `V_GHG_EMITTER_FACILITIES.PARENT_COMPANY`: Parent company of emitter facility
* `V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR`: Y or ? (several NaN values)

In [9]:
#greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.FACILITY_ID'].value_counts()

In [10]:
#greenhouse_gas_facility.groupby('V_GHG_EMITTER_FACILITIES.FACILITY_ID').get_group(1000001.0)

In [11]:
#greenhouse_gas_facility.groupby('V_GHG_EMITTER_FACILITIES.FACILITY_ID').agg('count')

### Info on `daily_global_weather`

In [12]:
daily_global_weather.size

8514264

In [13]:
daily_global_weather['Station'].value_counts()

USS0015C05S    296
CA001167337    296
GQW00041415    296
USS0015E11S    296
USS0018D04S    296
USS0006K39S    296
USS0009E10S    296
CA005022791    296
USS0010D07S    296
USS0019L43S    296
USS0012C11S    296
USS0006K12S    296
USS0005P04S    296
USS0016D08S    296
USS0015F06S    296
USS0010G02S    296
USS0005M08S    296
USS0013A15S    296
USS0020H06S    296
USS0007K09S    296
USS0021C20S    296
USS0021D12S    296
USW00014739    296
CA001160899    296
USS0011D28S    296
USS0015A08S    296
USS0006K01S    296
USS0011K29S    296
USS0014F17S    296
CA001054500    296
              ...
GV000001809      1
KZ000035358      1
IDM00096109      1
NIM00065271      1
KZ000029906      1
IDM00096973      1
IDM00097240      1
CA002203342      1
KZ000036639      1
IDM00096797      1
ID000097340      1
KZ000036498      1
KZ000035969      1
PA000086033      1
GG000037395      1
ID000097980      1
EG000062417      1
SAM00040439      1
UZM00038683      1
AU000006306      1
IDM00097230      1
KZ000035532      1
IDM00097086      1
ID000097372      1
IDM00096179      1
IDM00096529      1
KZ000035449      1
IDM00096207      1
RSM00022727      1
KZ000038201      1
Name: Station, Length: 4970, dtype: int64

In [14]:
greenhouse_gas_type.head(4)

,V_GHG_EMITTER_GAS.ADDRESS1,V_GHG_EMITTER_GAS.ADDRESS2,V_GHG_EMITTER_GAS.CITY,V_GHG_EMITTER_GAS.CO2E_EMISSION,V_GHG_EMITTER_GAS.COUNTY,V_GHG_EMITTER_GAS.FACILITY_ID,V_GHG_EMITTER_GAS.GAS_CODE,V_GHG_EMITTER_GAS.GAS_NAME,V_GHG_EMITTER_GAS.LATITUDE,V_GHG_EMITTER_GAS.LONGITUDE,V_GHG_EMITTER_GAS.STATE,V_GHG_EMITTER_GAS.STATE_NAME,V_GHG_EMITTER_GAS.YEAR,V_GHG_EMITTER_GAS.ZIP,V_GHG_EMITTER_GAS.FACILITY_NAME,V_GHG_EMITTER_GAS.COUNTY_FIPS
0,1919 S. BROADWAY,NaN,GREEN BAY,58024.000,BROWN COUNTY,1000589,BIOCO2,Biogenic CO2,44.492500,-88.032300,WI,WISCONSIN,2017,54304,GEORGIA-PACIFIC CONSUMER OPERATIONS LLC,55009.0
1,850 12TH AVE,NaN,NEW YORK,134.500,New York,1000766,CH4,Methane,40.771100,-73.991100,NY,NEW YORK,2018,10019,59th Street,36061.0
2,3379 HWY 482,NaN,Noble,6.854,SABINE,1009343,N2O,Nitrous Oxide,31.621528,-93.724774,LA,LOUISIANA,2012,71462,Baker Road Treater,22085.0
3,1012 BEAUCHAMP ST,NaN,GREENVILLE,53562.000,WASHINGTON COUNTY,1003557,CH4,Methane,33.392476,-91.017584,MS,MISSISSIPPI,2017,38701,TEXAS GAS TRANSMISSION - GREENVILLE STATION,28151.0

In [15]:
greenhouse_gas_type.groupby(['V_GHG_EMITTER_GAS.GAS_CODE'])[['V_GHG_EMITTER_GAS.CO2E_EMISSION']].agg(sum)

                            V_GHG_EMITTER_GAS.CO2E_EMISSION
V_GHG_EMITTER_GAS.GAS_CODE
BIOCO2                                         1.518386e+09
CH4                                            2.156935e+09
CO2                                            2.826026e+10
HFC                                            8.194868e+07
HFE                                            4.355320e+05
N2O                                            2.738154e+08
NF3                                            7.896770e+06
Other                                          4.707912e+05
Other_Full                                     1.178413e+07
PFC                                            6.119946e+07
SF6                                            4.166029e+07
Very_Short                                     7.000590e+03

In [16]:
greenhouse_gas_type.groupby(['V_GHG_EMITTER_GAS.YEAR','V_GHG_EMITTER_GAS.GAS_CODE',])[['V_GHG_EMITTER_GAS.CO2E_EMISSION']].agg(sum)

                                                   V_GHG_EMITTER_GAS.CO2E_EMISSION
V_GHG_EMITTER_GAS.YEAR V_GHG_EMITTER_GAS.GAS_CODE
2010                   BIOCO2                                         1.538681e+08
                       CH4                                            1.080399e+08
                       CO2                                            3.049345e+09
                       HFC                                            8.034751e+06
                       N2O                                            2.929191e+07
                       PFC                                            1.859915e+06
2011                   BIOCO2                                         1.564392e+08
                       CH4                                            2.353260e+08
                       CO2                                            3.018171e+09
                       HFC                                            1.372832e+07
                       HFE                                            1.688357e+04
                       N2O                                            3.404701e+07
                       NF3                                            1.155088e+06
                       Other                                          4.048567e+04
                       Other_Full                                     1.484069e+06
                       PFC                                            8.302558e+06
                       SF6                                            6.089911e+06
                       Very_Short                                     2.262896e+02
2012                   BIOCO2                                         1.592621e+08
                       CH4                                            2.291970e+08
                       CO2                                            2.886201e+09
                       HFC                                            1.076541e+07
                       HFE                                            1.360390e+04
                       N2O                                            2.788525e+07
                       NF3                                            1.097281e+06
                       Other                                          3.855080e+04
                       Other_Full                                     1.529056e+06
                       PFC                                            7.513708e+06
                       SF6                                            5.023157e+06
                       Very_Short                                     1.650766e+02
...                                                                            ...
2017                   NF3                                            9.827254e+05
                       Other                                          5.926270e+04
                       Other_Full                                     1.005150e+06
                       PFC                                            5.074671e+06
                       SF6                                            4.079198e+06
                       Very_Short                                     4.728791e+03
2018                   BIOCO2                                         1.445725e+08
                       CH4                                            2.288205e+08
                       CO2                                            2.715329e+09
                       HFC                                            5.701639e+06
                       HFE                                            4.439831e+04
                       N2O                                            2.865956e+07
                       NF3                                            7.186280e+05
                       Other                                          9.625780e+04
                       Other_Full                                     1.052462e+06
                       PFC                                            5.959904e+06
                       SF6                                            3.963016e+06
                       Very_Short                                     5.510683e+02
2019                   BIOCO2                                         1.392738e+08
                       CH4                                            2.297872e+08
                       CO2                                            2.579200e+09
                       HFC                                            5.820860e+06
                       HFE                                            4.601449e+04
                       N2O                                            2.313534e+07
                       NF3                                            7.063163e+05
                       Other                                          8.798840e+04
                       Other_Full                                     9.903272e+05
                       PFC                                            5.999121e+06
                       SF6                                            3.940216e+06
                       Very_Short                                     1.880496e+02

[114 rows x 1 columns]

In [17]:
greenhouse_gas_facility.head(4)

,V_GHG_EMITTER_FACILITIES.ADDRESS1,V_GHG_EMITTER_FACILITIES.ADDRESS2,V_GHG_EMITTER_FACILITIES.CEMS_USED,V_GHG_EMITTER_FACILITIES.CITY,V_GHG_EMITTER_FACILITIES.COUNTY,V_GHG_EMITTER_FACILITIES.COUNTY_FIPS,V_GHG_EMITTER_FACILITIES.FACILITY_ID,V_GHG_EMITTER_FACILITIES.LATITUDE,V_GHG_EMITTER_FACILITIES.LONGITUDE,V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE,...,V_GHG_EMITTER_FACILITIES.STATE_NAME,V_GHG_EMITTER_FACILITIES.YEAR,V_GHG_EMITTER_FACILITIES.ZIP,V_GHG_EMITTER_FACILITIES.FACILITY_NAME,V_GHG_EMITTER_FACILITIES.SECONDARY_NAICS_CODE,V_GHG_EMITTER_FACILITIES.ADDITIONAL_NAICS_CODES,V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND,V_GHG_EMITTER_FACILITIES.EPA_VERIFIED,V_GHG_EMITTER_FACILITIES.PARENT_COMPANY,V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR
0,301 Commerce Dr. Suite 3701,NaN,NaN,Fort Worth,NaN,NaN,1008536.0,35.533760,-97.529760,211111.0,...,TEXAS,2012.0,76102.0,TEP Barnett USA LLC 415 - Strawn Basin,NaN,NaN,N,NaN,CHESAPEAKE ENERGY CORP (100%),NaN
1,449 Shell E&P Court,NaN,NaN,Gibson,TERREBONNE,22109.0,1005071.0,29.628790,-90.917680,211112.0,...,LOUISIANA,2011.0,70358.0,North Terrebonne Gas Plant,NaN,NaN,N,NaN,ENTERPRISE GAS PROCESSING LLC (64.19%); DCP M...,NaN
2,5494 MALONE ROAD,NaN,NaN,MEMPHIS,SHELBY COUNTY,47157.0,1002466.0,34.999213,-89.906724,562212.0,...,TENNESSEE,2017.0,38116.0,SOUTH SHELBY LANDFILL,NaN,NaN,N,NaN,REPUBLIC SERVICES INC (100%),N
3,1601 WEEDON ISLAND DRIVE,NaN,NaN,SAINT PETERSBURG,Pinellas,12103.0,1001489.0,27.861300,-82.601200,221112.0,...,FLORIDA,2015.0,33702.0,P L Bartow Power Plant,NaN,NaN,N,NaN,DUKE ENERGY CORP (100%),Y

## Data Cleaning
`daily_global_weather` 
* What type of data are you currently exploring?
* What is the granularity of the data?
    * This dataframe has data for each station for each day over the time period analyzed. Not each station had data reported for each day.
    * data is reported from 01/01/2020 to 10/22/2020
* What does the distribution of the data look like? Are there any outliers? Are there any missing or invalid entries?

Summary of cleaning done:
* Converted date column to datetime object
* Made a new column for temperature in Celsius units
* added more info about station
    * Country and name returned from providing coordinates to rg.search
* Dropped unecessary indexing column

### Cleaning daily global weather data

In [18]:
def nullcheck(df):
    '''
    Checks for null values in each column of dataframe
    
    Parameters
    ----------
    df: dataframe to check
    
    Returns
    -------
    nullcheck: numpy array with boolean check of null values for each column. has length of column'''
    # initialize
    nullcheck = np.full(len(df.columns),False,dtype=bool)
    
    for i in range(0,len(df.columns)):
        colname = df.columns[i]
        nullcheck[i] = df[colname].isnull().values.any()
    return nullcheck

In [19]:
# dates of data reported
ave_dates = daily_global_weather.groupby('Date').agg(np.mean)
ave_dates.reset_index(inplace=True)
print('Date Range: ',ave_dates['Date'][0],ave_dates['Date'].iloc[-1])

Date Range:  2020-01-01 2020-10-22

In [20]:
# convert dates to datetime objects
daily_global_weather['Date'] = pd.to_datetime(daily_global_weather['Date'])

In [21]:
# Make a new column for temperature data in Celsius units
daily_global_weather['T_C'] = daily_global_weather['TAVG']/10

In [22]:
# Check countries represented by data

# organize data by stations
stations = daily_global_weather.groupby(['Station']).agg('min')[['Latitude','Longitude']]
stations['Lat , Lon']=list(zip(stations.Latitude,stations.Longitude))
stations.reset_index(inplace=True)

# extract coordinates of each station to a list of tuples
#coords = list(stations.itertuples(index=False,name=None))
coords = stations['Lat , Lon'].to_list()

# use reverese_geocoder to return info about each lat and lon
results = rg.search(coords)
# put results into dataframe
results_df=pd.DataFrame(results)

# Add results to station dataframe
stations = stations.join(results_df) 
#stations.head(5)

Loading formatted geocoded file...

In [23]:
# Check number of stations in each country
stations['cc'].value_counts().head(5)

US    1070
CA     890
RU     609
CN     216
JP     142
Name: cc, dtype: int64

In [24]:
# Check number of stations in each country
only_one=stations['cc'].value_counts() == 1
two_or_less=stations['cc'].value_counts() <= 2
three_or_less=stations['cc'].value_counts() <= 3
four_or_less=stations['cc'].value_counts() <= 4

print('0 stations: ',15,
      '\n1 station: ',only_one.sum(),
      '\n1 or less stations: ',15+only_one.sum(),
      '\n2 or less stations: ',two_or_less.sum(),
      '\n3 or less stations: ',three_or_less.sum(),
      '\n4 or less stations: ',four_or_less.sum())

0 stations:  15
1 station:  40
1 or less stations:  55
2 or less stations:  56
3 or less stations:  68
4 or less stations:  81

In [25]:
# Add more info about each station
station_info=stations.copy()
# drop unecessary columns
station_info.drop(['Latitude', 'Longitude', 'Lat , Lon', 'lat', 'lon','admin1', 'admin2'],axis=1,inplace=True)
station_info.set_index('Station')
daily_global_weather=daily_global_weather.merge(station_info,on='Station')

In [26]:
# drop legacy index column
daily_global_weather.drop('Unnamed: 0',axis=1,inplace=True)

In [27]:
daily_global_weather.head(5)

,Station,Date,TAVG,Latitude,Longitude,Elevation,PRCP,T_C,name,cc
0,AE000041196,2020-01-01,211.0,25.333,55.517,34.0,0.0,21.1,Sharjah,AE
1,AE000041196,2020-01-02,214.0,25.333,55.517,34.0,0.0,21.4,Sharjah,AE
2,AE000041196,2020-01-03,212.0,25.333,55.517,34.0,0.0,21.2,Sharjah,AE
3,AE000041196,2020-01-04,219.0,25.333,55.517,34.0,0.0,21.9,Sharjah,AE
4,AE000041196,2020-01-05,237.0,25.333,55.517,34.0,0.0,23.7,Sharjah,AE

In [28]:
# check for NaNs
nullvals = nullcheck(daily_global_weather)
nullvals

array([False, False, False, False, False, False, False, False, False,
       False])

In [29]:
# daily_global_weather To do
# check that elevation, lat, long same for sttation each time

### Cleaning greenhouse gas data
`greenhouse_gas_facility`
* What type of data are you currently exploring?
* What is the granularity of the data?
    * dataset over 10 years, can probably cut down
* What does the distribution of the data look like? Are there any outliers? Are there any missing or invalid entries?
    * missing values
        * address line 2
        * cems used
        * facility county + related values
        * a ton more
Summary of cleaning done:
* Rename columns to shorter more descriptive names
* Dropping columns with unecessary or repeated information to reduce dimensionality
    * ADDRESS2 only has 2 rows with values in it
        * Removed these rows from the dataset, because they both contain NaN values in the other columns, except for ADDRESS1, which is DEPARTMENT OF ENVIRONMENTAL HEALTH  SUITE 310. 
        * Removed the ADDRESS2 column after removing these 2 entries
    * STATE_NAME and STATE have the same information, so STATE_NAME was dropped
    * COUNTY and COUNTY_FIPS have same information
        * COUNTY_FIPS is an ID code for the county. Should use for cleaning perhaps, as some of the counties are entered inconsistently
    * COUNTY has some NaN values
        * City is still filled out in some

In [30]:
# check for cols with null values
nullvals = nullcheck(greenhouse_gas_facility)
nullvals

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [31]:
# renaming columns bc they'|re messy, maybe delete unecessary ones
greenhouse_gas_facility.columns

Index(['V_GHG_EMITTER_FACILITIES.ADDRESS1',
       'V_GHG_EMITTER_FACILITIES.ADDRESS2',
       'V_GHG_EMITTER_FACILITIES.CEMS_USED', 'V_GHG_EMITTER_FACILITIES.CITY',
       'V_GHG_EMITTER_FACILITIES.COUNTY',
       'V_GHG_EMITTER_FACILITIES.COUNTY_FIPS',
       'V_GHG_EMITTER_FACILITIES.FACILITY_ID',
       'V_GHG_EMITTER_FACILITIES.LATITUDE',
       'V_GHG_EMITTER_FACILITIES.LONGITUDE',
       'V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE',
       'V_GHG_EMITTER_FACILITIES.STATE', 'V_GHG_EMITTER_FACILITIES.STATE_NAME',
       'V_GHG_EMITTER_FACILITIES.YEAR', 'V_GHG_EMITTER_FACILITIES.ZIP',
       'V_GHG_EMITTER_FACILITIES.FACILITY_NAME',
       'V_GHG_EMITTER_FACILITIES.SECONDARY_NAICS_CODE',
       'V_GHG_EMITTER_FACILITIES.ADDITIONAL_NAICS_CODES',
       'V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND',
       'V_GHG_EMITTER_FACILITIES.EPA_VERIFIED',
       'V_GHG_EMITTER_FACILITIES.PARENT_COMPANY',
       'V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR'],
      dtype='object')

In [32]:
# Remove entries from dataframe which contain DEPARTMENT OF ENVIRONMENTAL HEALTH SUITE 310 in ADDRESS1

# data exploration
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.ADDRESS1'].value_counts()
greenhouse_gas_facility.groupby('V_GHG_EMITTER_FACILITIES.ADDRESS2').get_group('Y')
greenhouse_gas_facility.groupby('V_GHG_EMITTER_FACILITIES.ADDRESS2').get_group('N')
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.ADDRESS1'].iloc[51585]

# construct mask
mask1 = greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.ADDRESS1'] == 'DEPARTMENT OF ENVIRONMENTAL HEALTH  SUITE 310 (100%)'
# show that these rows do not contain useful information
greenhouse_gas_facility[mask1]

# remove from dataset
greenhouse_gas_facility = greenhouse_gas_facility[~mask1]

# show that the only two values that were in this column were removed in previous cell
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.ADDRESS2'].value_counts()

# Drop now uneccessary column 
greenhouse_gas_facility.drop('V_GHG_EMITTER_FACILITIES.ADDRESS2',axis=1,inplace=True)

In [33]:
# Drop 'V_GHG_EMITTER_FACILITIES.CEMS_USED' due to it being an empty colummn
# check if empty
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.CEMS_USED'].value_counts()
# Drop now uneccessary column 
greenhouse_gas_facility.drop('V_GHG_EMITTER_FACILITIES.CEMS_USED',axis=1,inplace=True)

In [34]:
# clean county column
# convert to capitals
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COUNTY'] = greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COUNTY'].str.upper()
# remove county from name
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COUNTY'] = greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COUNTY'].str.replace(' COUNTY','')

In [35]:
def find_county(df):
    '''
    Helper function to find county in rows with NaN values
    
    Note: to construct co_map properly, the initial dataframe with null values
    must be passed
    
    Parameters
    ----------
    df: dataframe with column to be cleaned
    
    Returns
    -------
    df: original df with cleaned county data
    '''
    # define county map
    co_map = df[['V_GHG_EMITTER_FACILITIES.CITY','V_GHG_EMITTER_FACILITIES.COUNTY']].groupby('V_GHG_EMITTER_FACILITIES.CITY').first(dropna=True)
    co_map = co_map.squeeze().to_dict()
    
    # construct mask of NaN values
    nullmask = df['V_GHG_EMITTER_FACILITIES.COUNTY'].isnull()
    
    # grab city name as county name
    df.loc[nullmask,'V_GHG_EMITTER_FACILITIES.COUNTY'] = df.loc[nullmask,'V_GHG_EMITTER_FACILITIES.CITY']
    
    # convert city name to county based on map - will leave unmapped values as NaN
    df.loc[nullmask,'V_GHG_EMITTER_FACILITIES.COUNTY'] = df.loc[nullmask,'V_GHG_EMITTER_FACILITIES.COUNTY'].map(co_map)
    
    # hand remaining NaNs?
    print(nullmask.sum()," values changed")
    
    return df

In [36]:
greenhouse_gas_facility  = find_county(greenhouse_gas_facility)

2678  values changed

In [37]:
# check remaining null values
nullmask=greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COUNTY'].isnull()
# number null county values left
nullmask.sum() 

# check if COUNTY_FIPS still needed
fipsnullmasktot = greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COUNTY_FIPS'].isnull()
fipsnullmasktot.sum()

# are rows with county null values also null in fips?
fipsnullmask=greenhouse_gas_facility.loc[nullmask,'V_GHG_EMITTER_FACILITIES.COUNTY_FIPS'].isnull()
fipsnullmask.sum() == nullmask.sum()

True

In [38]:
# can then drop FIPS column
greenhouse_gas_facility.drop('V_GHG_EMITTER_FACILITIES.COUNTY_FIPS',axis=1,inplace=True)

In [39]:
# Drop more uneeded columns
#Dropping company name
greenhouse_gas_facility.drop('V_GHG_EMITTER_FACILITIES.PARENT_COMPANY',axis=1,inplace=True)

# Dropping STATE_NAME (keeping STATE)
greenhouse_gas_facility.drop('V_GHG_EMITTER_FACILITIES.STATE_NAME',axis=1,inplace=True)

# Dropping secondary NAICS code
greenhouse_gas_facility.drop('V_GHG_EMITTER_FACILITIES.SECONDARY_NAICS_CODE',axis=1,inplace=True)

# drop addditional naics code
greenhouse_gas_facility.drop('V_GHG_EMITTER_FACILITIES.ADDITIONAL_NAICS_CODES',axis=1,inplace=True)

In [40]:
greenhouse_gas_facility.columns

Index(['V_GHG_EMITTER_FACILITIES.ADDRESS1', 'V_GHG_EMITTER_FACILITIES.CITY',
       'V_GHG_EMITTER_FACILITIES.COUNTY',
       'V_GHG_EMITTER_FACILITIES.FACILITY_ID',
       'V_GHG_EMITTER_FACILITIES.LATITUDE',
       'V_GHG_EMITTER_FACILITIES.LONGITUDE',
       'V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE',
       'V_GHG_EMITTER_FACILITIES.STATE', 'V_GHG_EMITTER_FACILITIES.YEAR',
       'V_GHG_EMITTER_FACILITIES.ZIP',
       'V_GHG_EMITTER_FACILITIES.FACILITY_NAME',
       'V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND',
       'V_GHG_EMITTER_FACILITIES.EPA_VERIFIED',
       'V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR'],
      dtype='object')

In [41]:
# check for cols with null values
nullvals = nullcheck(greenhouse_gas_facility)
greenhouse_gas_facility.columns[nullvals]

Index(['V_GHG_EMITTER_FACILITIES.ADDRESS1', 'V_GHG_EMITTER_FACILITIES.COUNTY',
       'V_GHG_EMITTER_FACILITIES.LATITUDE',
       'V_GHG_EMITTER_FACILITIES.LONGITUDE',
       'V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE',
       'V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND',
       'V_GHG_EMITTER_FACILITIES.EPA_VERIFIED',
       'V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR'],
      dtype='object')

In [45]:
# investigate COGENERATION_UNIT_EMISS_IND
nullmask = greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND'].isnull()
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND'][~nullmask].value_counts()

N    70085
Y     5839
Name: V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND, dtype: int64

In [48]:
yesmask = greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND'] == 'Y'
greenhouse_gas_facility[yesmask].head(5)

,V_GHG_EMITTER_FACILITIES.ADDRESS1,V_GHG_EMITTER_FACILITIES.CITY,V_GHG_EMITTER_FACILITIES.COUNTY,V_GHG_EMITTER_FACILITIES.FACILITY_ID,V_GHG_EMITTER_FACILITIES.LATITUDE,V_GHG_EMITTER_FACILITIES.LONGITUDE,V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE,V_GHG_EMITTER_FACILITIES.STATE,V_GHG_EMITTER_FACILITIES.YEAR,V_GHG_EMITTER_FACILITIES.ZIP,V_GHG_EMITTER_FACILITIES.FACILITY_NAME,V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND,V_GHG_EMITTER_FACILITIES.EPA_VERIFIED,V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR
17,80997 KALLUNKI ROAD,CLATSKANIE,COLUMBIA,1002488.0,46.172817,-123.175020,221112.0,OR,2018.0,97016.0,Beaver,Y,NaN,Y
32,5201 SPRING GROVE AVE,CINCINNATI,HAMILTON,1000186.0,39.175600,-84.502200,325611.0,OH,2012.0,45217.0,Procter & Gamble Company - Ivorydale,Y,NaN,NaN
97,324 Allied Chemical Road,GREEN RIVER,SWEETWATER,1005040.0,41.592551,-109.753909,212391.0,WY,2012.0,82935.0,Tata Chemicals (Soda Ash) Partners,Y,NaN,NaN
107,1030 WEST ALEX BELL ROAD,WEST CARROLLTON,MONTGOMERY,1002434.0,39.652127,-84.186718,322121.0,OH,2010.0,45449.0,APPVION INC. WEST CARROLLTON,Y,NaN,NaN
110,2695 OLD BLOOMINGTON RD NORTH,VICTORIA,VICTORIA,1001781.0,28.673056,-96.953611,325199.0,TX,2010.0,77905.0,INVISTA S.a r.l.,Y,NaN,NaN

In [49]:
nomask = greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND'] == 'N'
greenhouse_gas_facility[nomask].head(5)

,V_GHG_EMITTER_FACILITIES.ADDRESS1,V_GHG_EMITTER_FACILITIES.CITY,V_GHG_EMITTER_FACILITIES.COUNTY,V_GHG_EMITTER_FACILITIES.FACILITY_ID,V_GHG_EMITTER_FACILITIES.LATITUDE,V_GHG_EMITTER_FACILITIES.LONGITUDE,V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE,V_GHG_EMITTER_FACILITIES.STATE,V_GHG_EMITTER_FACILITIES.YEAR,V_GHG_EMITTER_FACILITIES.ZIP,V_GHG_EMITTER_FACILITIES.FACILITY_NAME,V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND,V_GHG_EMITTER_FACILITIES.EPA_VERIFIED,V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR
0,301 Commerce Dr. Suite 3701,Fort Worth,TARRANT,1008536.0,35.533760,-97.529760,211111.0,TX,2012.0,76102.0,TEP Barnett USA LLC 415 - Strawn Basin,N,NaN,NaN
1,449 Shell E&P Court,Gibson,TERREBONNE,1005071.0,29.628790,-90.917680,211112.0,LA,2011.0,70358.0,North Terrebonne Gas Plant,N,NaN,NaN
2,5494 MALONE ROAD,MEMPHIS,SHELBY,1002466.0,34.999213,-89.906724,562212.0,TN,2017.0,38116.0,SOUTH SHELBY LANDFILL,N,NaN,N
3,1601 WEEDON ISLAND DRIVE,SAINT PETERSBURG,PINELLAS,1001489.0,27.861300,-82.601200,221112.0,FL,2015.0,33702.0,P L Bartow Power Plant,N,NaN,Y
4,NaN,Rhome,WISE,1007509.0,33.052600,-97.411400,211112.0,TX,2015.0,76078.0,Ross Compressor Station,N,NaN,Y

In [50]:
# just drop COGENERATION_UNIT_EMISS_IND for now
greenhouse_gas_facility.drop('V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND',axis=1,inplace=True)

In [51]:
# check for cols with null values
nullvals = nullcheck(greenhouse_gas_facility)
greenhouse_gas_facility.columns[nullvals]

Index(['V_GHG_EMITTER_FACILITIES.ADDRESS1', 'V_GHG_EMITTER_FACILITIES.COUNTY',
       'V_GHG_EMITTER_FACILITIES.LATITUDE',
       'V_GHG_EMITTER_FACILITIES.LONGITUDE',
       'V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE',
       'V_GHG_EMITTER_FACILITIES.EPA_VERIFIED',
       'V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR'],
      dtype='object')

In [ ]:
# investigate EPA verified
nullmask = greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.EPA_VERIFIED'].isnull()
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.EPA_VERIFIED'][~nullmask].value_counts()

In [ ]:
# fix null lat and long
nullmask = greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.LATITUDE'].isnull()
greenhouse_gas_facility[nullmask].head(5)

In [ ]:
greenhouse_gas_facility.groupby('V_GHG_EMITTER_FACILITIES.FACILITY_ID').first(dropna=True).head(5)

In [ ]:
column_rename_dict = {'V_GHG_EMITTER_FACILITIES.ADDRESS1': 'Address',
                      'V_GHG_EMITTER_FACILITIES.CITY': 'City',
                      'V_GHG_EMITTER_FACILITIES.COUNTY': 'County',
                      'V_GHG_EMITTER_FACILITIES.FACILITY_ID': 'Facility_ID',
                      'V_GHG_EMITTER_FACILITIES.LATITUDE': 'Latitude',
                      'V_GHG_EMITTER_FACILITIES.LONGITUDE':'Longitude',                      
                     }

In [ ]:
clean_gg_facility = rename_counties(greenhouse_gas_facility)

In [ ]:
clean_gg_facility['V_GHG_EMITTER_FACILITIES.COUNTY'] = clean_gg_facility['V_GHG_EMITTER_FACILITIES.COUNTY'].replace(r'([COUNTY])\w+','')

In [ ]:
clean_gg_facility['V_GHG_EMITTER_FACILITIES.COUNTY'].value_counts()

In [ ]:
# couny_FIPS - same as county?
greenhouse_gas_facility.groupby('V_GHG_EMITTER_FACILITIES.COUNTY_FIPS').get_group(48201.0)['V_GHG_EMITTER_FACILITIES.COUNTY'].value_counts()

In [ ]:
# To do - investigate if some entries dno't have 'county' in name
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.COUNTY'].value_counts()

In [ ]:
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.ADDRESS1'].value_counts()[greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.ADDRESS1'].value_counts()==1]

In [ ]:
# To do - investigate mixed capitalization
greenhouse_gas_facility['V_GHG_EMITTER_FACILITIES.CITY'].value_counts()

In [ ]:
# what do with counties that have NaN fips?
def rename_counties(df):
    '''
    Renames counties to be consistent based on COUNTY_FIPS
    
    Maybe make more general by adding arg of column name? 
    
    Parameters
    ----------
    df: dataframe to clean
    col: default = 'V_GHG_EMITTER_FACILITIES.COUNTY_FIPS'?
    
    Returns
    -------
    cleaned_df: cleaned dataframe
    
    '''
    # grab county codes
    codes = df['V_GHG_EMITTER_FACILITIES.COUNTY_FIPS'].value_counts().index 
    
    # iterate through each code
    for i in range(0,len(codes)):
        # get list of different county namings
        co_name = df.groupby('V_GHG_EMITTER_FACILITIES.COUNTY_FIPS').get_group(codes[i])['V_GHG_EMITTER_FACILITIES.COUNTY'].value_counts().index
        
        # Rename columns that have extra names
        if len(co_name) > 0:
            # construct mask for just this county code 
            mask = df['V_GHG_EMITTER_FACILITIES.COUNTY_FIPS'] == codes[i]
            
            # Just rename everything to first entry in co_name
            df[mask]['V_GHG_EMITTER_FACILITIES.COUNTY'].replace(to_replace = co_name[1:len(co_name)], value = co_name[0], inplace=True)
    
    # rename rest of columns to consistent format
    # make all caps
    df['V_GHG_EMITTER_FACILITIES.COUNTY']=df['V_GHG_EMITTER_FACILITIES.COUNTY'].str.upper()
    # remove 'COUNTY' from name
    df['V_GHG_EMITTER_FACILITIES.COUNTY'].replace(to_replace='COUNTY',value='',inplace=True)
    
    return df

## Exploratory Data Analysis
* Is there any correlation between the variables you are interested in exploring?
    * I am interested in exploring the average temperature vs the lattitude (e.g. what is the temperature as you get further north or south of the equator).
* How would you cleanly and accurately visualize the relationship among variables?

In [ ]:
daily_ave_weather = daily_global_weather.groupby('Date').agg('mean')

In [ ]:
plt.figure(figsize=(10,5))
plt.hist(daily_global_weather['T_C'],bins=50,range=(-77,43),log=True)
plt.title('Global Daily Temperature Logs')
plt.xlabel('Temperature $^o$C')
plt.ylabel('Frequency')
plt.savefig('../figures/DailyTempHist.png',bbox_inches = 'tight',pad_inches=0.5)
plt.show()

In [ ]:
# Create figure and plot space
fig, ax = plt.subplots(figsize=(10, 5))

# Add x-axis and y-axis
# temp in 10s of Celsius
ax.scatter(daily_ave_weather.index.values,
        daily_ave_weather['TAVG']/10,
        color='purple')

# Set title and labels for axes
ax.set(xlabel="Day",
       ylabel="Temperature ($^o$C)",
       title="Daily Global Average Temperature")
plt.tight_layout()
plt.xticks(np.arange(0,300,20),rotation=50)
plt.savefig('../figures/DailyAveTemp.png',bbox_inches = 'tight',pad_inches=0.5)
plt.show()

## Data Modeling and Inferences
* Please note that the following datasets have a data modeling requirement, i.e. you need to utilize at least 1 machine learning model we teach in this class in your project (my dataset is included in list)
* Here are a few components your notebook must address:
    * What type of machine learning problem are you investigating?
    * What model do you plan on using and why?
    * Does your model require hyperparameter tuning? If so, how do you approach it?
    * How do you engineer the features for your model? What are the rationales behind selecting these features?
    * How do you perform cross validation on your model?
    * What loss metrics are you using to evaluate your model?
    * From a bias-variance tradeoff standpoint, how do you assess the performance of your model? How do you check if it is overfitting?
    * How would you improve your model based on the outcome?
* If you are choosing to pursue your research question from an inference angle, your notebook must demonstrate sufficient analysis and visualization to support your conclusion. We will not restrict you to the type of analysis as there are many different statistical techniques that may apply to your case. However, we also ask that you provide detailed justification for the techniques you choose and how it allows you make those inferences.